# Commented out for mod_rails:

# AddHandler fastcgi-script .fcgi
# AddHandler cgi-script .cgi
# Options +FollowSymLinks +ExecCGI
# RewriteEngine On
# RewriteRule ^$ index.html [QSA]
# RewriteRule ^([^.]+)$ $1.html [QSA]
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^(.*)$ dispatch.cgi [QSA,L]
# ErrorDocument 500 "<h2>Application error</h2>Rails application failed to start properly"
